.label4{
        width: 150px;
        display: inline-block;
        margin: 0.2cm;
        font-size: 20px;
        font-weight: bold;
        color: aliceblue;
    }
 
    .input-box4 input{
        width: 70%;
        height: 30px;
        font-size: medium;
    }

    .container4 select{
        width: 50%;
        height: 30px;
        font-size: medium;
    }

    .date2 input{
        width: 50%;
        height: 30px;
        font-size: large;
    }
    .form4{
        padding: 30px;
        position: fixed;
        width: 400px;
        height: 550px;
        margin-left: 35%;
        margin-top: 60Px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 5);
        border-radius: 16px;
        backdrop-filter: blur(20px);
    
        display: flex;
        justify-content: center;
        align-items:center;
        top: 50px;
        
    }
    .borrow-status {
        width: 100px;

    }
    
    .heading4{
        text-align: center;  
        color: white;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 35px;

    }    

    .container4{
        text-align:left;
       
        }

    .borrowBtn {
        text-align: center;
    }
    
    #borrowButton {
        padding: 10px 20px;
        font-size: 16px;
        color: black;
        background:linear-gradient(black grey);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        }
        
        #borrowButton:hover {
            background-color: royalblue;     
    }